In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [52]:
obj = pd.Series([4,7,-9,3])
obj

In [53]:
obj.values

In [54]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [3]:
obj2 = pd.Series([45,6,8,9,12,34,6],index=['a','b','c','g','h','k','n'])
obj2

In [56]:
obj2.index

Index(['a', 'b', 'c', 'g', 'h', 'k', 'n'], dtype='object')

In [57]:
obj2['k']

34

In [58]:
obj2['a'] = 222
obj2

In [59]:
obj2[obj2>10]

In [4]:
sdata = {'Warszawa':45120, 'Kraków':38970, 'Lublin':13450, 'Gdańsk':27890}
obj3 = pd.Series(sdata)
obj3

In [6]:
obj3.to_json("miasta.json")
obj3.to_csv("miasta.csv")

In [61]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [62]:
pd.isnull(obj4)

In [63]:
obj3+obj4

In [64]:
obj4.name = 'liczba wniosków'
obj4.index.name = 'miasta'
obj4

In [65]:
#obiekt DataFrame

data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'pop':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasto,rok,pop
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [66]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','pop','wsp'],index=['jeden','dwa','trzy','cztery','pieć','sześć'])
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pieć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [67]:
frame2['miasto']

In [68]:
frame2.rok

In [69]:
frame2['wsp']=19.9
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,19.9
dwa,2018,Warszawa,2.75,19.9
trzy,2019,Warszawa,3.05,19.9
cztery,2018,Kraków,0.85,19.9
pieć,2019,Kraków,0.90,19.9
sześć,2020,Kraków,1.01,19.9

In [70]:
frame2['wsp']=np.arange(6.)
frame2

,rok,miasto,pop,wsp
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pieć,2019,Kraków,0.90,4.0
sześć,2020,Kraków,1.01,5.0

In [71]:
#przykład -> ramka z wykorzystaniem wygenerowanych dat

daty = pd.date_range("20230129",periods=6)
daty

DatetimeIndex(['2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03'],
              dtype='datetime64[ns]', freq='D')

In [72]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty, columns=list("ABCD"))
fr

,A,B,C,D
2023-01-29,-1.438946,0.357447,-0.483227,1.301458
2023-01-30,0.114046,-0.121612,0.457315,0.767444
2023-01-31,0.384811,0.460551,-1.424844,-1.004211
2023-02-01,-0.037921,-0.569099,1.789535,-0.101336
2023-02-02,2.848124,0.263671,-0.561108,-0.053435
2023-02-03,0.886992,-1.200284,0.541599,0.120238

In [73]:
fr.head(3)

,A,B,C,D
2023-01-29,-1.438946,0.357447,-0.483227,1.301458
2023-01-30,0.114046,-0.121612,0.457315,0.767444
2023-01-31,0.384811,0.460551,-1.424844,-1.004211

In [74]:
fr.tail(2)

,A,B,C,D
2023-02-02,2.848124,0.263671,-0.561108,-0.053435
2023-02-03,0.886992,-1.200284,0.541599,0.120238

In [75]:
fr.to_numpy()

In [76]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.459518,-0.134888,0.053212,0.171693
std,1.404615,0.644915,1.119504,0.792706
min,-1.438946,-1.200284,-1.424844,-1.004211
25%,0.000071,-0.457227,-0.541637,-0.089361
50%,0.249429,0.071029,-0.012956,0.033402
75%,0.761447,0.334003,0.520528,0.605642
max,2.848124,0.460551,1.789535,1.301458

In [77]:
fr.T

,2023-01-29,2023-01-30,2023-01-31,2023-02-01,2023-02-02,2023-02-03
A,-1.438946,0.114046,0.384811,-0.037921,2.848124,0.886992
B,0.357447,-0.121612,0.460551,-0.569099,0.263671,-1.200284
C,-0.483227,0.457315,-1.424844,1.789535,-0.561108,0.541599
D,1.301458,0.767444,-1.004211,-0.101336,-0.053435,0.120238

In [78]:
fr.sort_index(axis=1, ascending=False)

,D,C,B,A
2023-01-29,1.301458,-0.483227,0.357447,-1.438946
2023-01-30,0.767444,0.457315,-0.121612,0.114046
2023-01-31,-1.004211,-1.424844,0.460551,0.384811
2023-02-01,-0.101336,1.789535,-0.569099,-0.037921
2023-02-02,-0.053435,-0.561108,0.263671,2.848124
2023-02-03,0.120238,0.541599,-1.200284,0.886992

In [79]:
fr.sort_values(by="B")

,A,B,C,D
2023-02-03,0.886992,-1.200284,0.541599,0.120238
2023-02-01,-0.037921,-0.569099,1.789535,-0.101336
2023-01-30,0.114046,-0.121612,0.457315,0.767444
2023-02-02,2.848124,0.263671,-0.561108,-0.053435
2023-01-29,-1.438946,0.357447,-0.483227,1.301458
2023-01-31,0.384811,0.460551,-1.424844,-1.004211

In [80]:
#podatwowe funkcjonalności

obj = pd.Series([4.5,7.2,-5.6,5],index=['d','a','w','h'])
obj

In [81]:
obj2 = obj.reindex(['a','w','h','d','q'])
obj2

In [82]:
obj3 = pd.Series(['blue','yellow','purple'],index=[0,2,4])
obj3

In [83]:
obj3.reindex(range(6),method='ffill')

In [84]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['Kraków','Warszawa','Lublin','Katowice'],
                    columns=['cecha_1','cecha_2','cecha_3','cecha_4'])

data

,cecha_1,cecha_2,cecha_3,cecha_4
Kraków,0,1,2,3
Warszawa,4,5,6,7
Lublin,8,9,10,11
Katowice,12,13,14,15

In [85]:
data['cecha_3']

In [86]:
#wybieranie za pomocą operatorów: loc, iloc

data.loc['Kraków',['cecha_1','cecha_4']]

In [87]:
data.iloc[2,[3,0,1]]

In [88]:
data.iloc[[1,2],[3,0,1]]

,cecha_4,cecha_1,cecha_2
Warszawa,7,4,5
Lublin,11,8,9

In [89]:
data.loc[:'Lublin','cecha_3']

In [91]:
data.iloc[:,:3][data.cecha_3>10]

,cecha_1,cecha_2,cecha_3
Katowice,12,13,14